# Ignore everything by default
*

# Only include mod DLLs and documentation
!*.dll
!README.md
!*-README.md
!.gitignore

# Ignore all game files and development folders
Aethermancer*
BepInEx/
sourcereference/
*Mod/
bin/
MonoBleedingEdge/
D3D12/
EXAMPLEMODSOURCE/
*.exe
*.log
*.sln
*.csproj
CLAUDE.md